html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashbord
    body
        div Hey #{name}, How are you doing today..?

        div Want to log out...?
        div 
            a(href = `http://${process.env.HOST}:${process.env.PORT}/logout`) Logout